.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.streamlit/secrets.toml
data/raw/*.csv
data/staging/*.parquet
data/golden/*.parquet
data/golden/*.csv
data/golden/*.duckdb
data/golden/*.synthetic
data/golden.duckdb
data/golden.synthetic
